{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    {% load menu_extras %}
</head>
<body style="background-color: aliceblue; padding: 30px">
    <div class="container">
        <div class="category-wrap">
          <h3>Категории</h3>
            <ul>
                <li>{% draw_menu 'Product category 1' %}</li>
                <br>
                <li>{% draw_menu 'Product category 2' %}</li>
            </ul>
        </div>
    </div>
</body>
</html>